In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn import linear_model
from pandas import DataFrame

In [2]:
df = pd.read_csv('../data/0.NaNs/df_mean_knn.csv')

PCA antes y después de estandarización

In [3]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue,New_Visitor,Other,Returning_Visitor,PageValues
0,0.0,0.0,0.0,0.0,1.0,0.000000,0.20,0.20,0.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,2.0,64.000000,0.00,0.10,0.0,2.0,2.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,-1.0,0.0,-1.0,1.0,-1.000000,0.20,0.20,0.0,2.0,4.0,1.0,9.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,2.0,479.647091,0.05,0.14,0.0,2.0,3.0,2.0,2.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,10.0,627.500000,0.02,0.05,0.0,2.0,3.0,3.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0

## PCA

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.decomposition import PCA

In [5]:
x = df.drop(['Revenue'], axis = 1)

In [6]:
pca = PCA(4)
a = pca.fit_transform(x)
pca_df = pd.DataFrame(a, columns = ['pca_' + str(i+1) for i in range(pca.n_components_)])

In [7]:
pca_df

            pca_1       pca_2       pca_3       pca_4
0     -481.989295  -51.104166   -6.907223  -19.427095
1     -418.017323  -53.230286   -6.939236  -19.247165
2     -483.031958  -52.355612   -7.491533  -19.310897
3       -2.650685  -67.496747   -7.530084  -24.518337
4      145.224616  -71.999472   -7.262105  -18.435645
...           ...         ...         ...         ...
12299    1.236811    5.808614    4.292956   81.422712
12300    8.380198  185.656617  476.477806  105.532549
12301    2.406957   11.469934    9.417874  156.988082
12302    2.316053   11.070087    9.068602  151.131805
12303    9.634234   73.896870  124.330239  541.851627

[12304 rows x 4 columns]

Add Revenue column to export all together in one csv file:

In [8]:
pca_df['Revenue'] = df['Revenue']

In [9]:
pca_df.to_csv('../data/3.PCA/pca_kmean_df.csv', index=False)

PCA df 2

In [10]:
df_2 = pd.read_csv('../data/0.NaNs/df_0_oh.csv')

In [11]:
df_2.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue,New_Visitor,Other,Returning_Visitor
0,0.0,0.0,0.0,0.0,1.0,0.0,0.20,0.20,0.0,0.0,2,1.0,1,1,1,0,0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,2.0,64.0,0.00,0.10,0.0,0.0,2,2.0,2,1,2,0,0,0.0,0.0,1.0
2,0.0,-1.0,0.0,-1.0,1.0,-1.0,0.20,0.20,0.0,0.0,2,4.0,1,9,3,0,0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,2.0,0.0,0.05,0.14,0.0,0.0,2,3.0,2,2,4,0,0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,10.0,627.5,0.02,0.05,0.0,0.0,2,3.0,3,1,4,1,0,0.0,0.0,1.0

In [13]:
x = df_2.drop(['Revenue'], axis = 1)

In [14]:
pca = PCA(4)
a = pca.fit_transform(x)
pca_df = pd.DataFrame(a, columns = ['pca_' + str(i+1) for i in range(pca.n_components_)])

In [15]:
pca_df

            pca_1      pca_2       pca_3       pca_4
0     -240.551384 -56.975198  -15.816848  -26.561074
1     -176.557574 -57.666367  -15.387076  -25.494301
2     -241.561333 -58.200256  -16.507328  -26.461736
3     -240.551766 -56.916677  -15.749602  -25.579591
4      386.887306 -63.793789  -11.651854  -16.873476
...           ...        ...         ...         ...
12299 -240.707214 -42.242235   18.964467   83.149310
12300 -241.799990  99.742253  504.028062  105.396827
12301 -240.712150 -45.304808   -2.457924  161.210911
12302 -240.708696 -45.644889   -2.867728  155.351084
12303 -241.299885  13.543289  146.512183  543.599923

[12304 rows x 4 columns]

Add Revenue column to export all together in one csv file:

In [16]:
pca_df['Revenue'] = df_2['Revenue']

In [17]:
pca_df

            pca_1      pca_2       pca_3       pca_4  Revenue
0     -240.551384 -56.975198  -15.816848  -26.561074        0
1     -176.557574 -57.666367  -15.387076  -25.494301        0
2     -241.561333 -58.200256  -16.507328  -26.461736        0
3     -240.551766 -56.916677  -15.749602  -25.579591        0
4      386.887306 -63.793789  -11.651854  -16.873476        0
...           ...        ...         ...         ...      ...
12299 -240.707214 -42.242235   18.964467   83.149310        0
12300 -241.799990  99.742253  504.028062  105.396827        0
12301 -240.712150 -45.304808   -2.457924  161.210911        0
12302 -240.708696 -45.644889   -2.867728  155.351084        1
12303 -241.299885  13.543289  146.512183  543.599923        0

[12304 rows x 5 columns]

In [18]:
pca_df.to_csv('../data/3.PCA/pca_0_df.csv', index=False)