In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn import linear_model
from pandas import DataFrame

In [2]:
df = pd.read_csv('../data/0.NaNs/df_mean_knn.csv')

PCA antes y después de estandarización

In [3]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue,New_Visitor,Other,Returning_Visitor,PageValues
0,0.0,0.0,0.0,0.0,1.0,0.000000,0.20,0.20,0.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,2.0,64.000000,0.00,0.10,0.0,2.0,2.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,-1.0,0.0,-1.0,1.0,-1.000000,0.20,0.20,0.0,2.0,4.0,1.0,9.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,2.0,479.647091,0.05,0.14,0.0,2.0,3.0,2.0,2.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,10.0,627.500000,0.02,0.05,0.0,2.0,3.0,3.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0

## PCA

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.decomposition import PCA

In [5]:
pca = PCA(4)
a = pca.fit_transform(df)
pca_df = pd.DataFrame(a, columns = ['pca_' + str(i+1) for i in range(pca.n_components_)])

In [6]:
pca_df

            pca_1       pca_2       pca_3       pca_4
0     -481.989305  -51.104192   -6.907232  -19.427204
1     -418.017332  -53.230313   -6.939245  -19.247278
2     -483.031968  -52.355638   -7.491542  -19.311005
3       -2.650696  -67.496781   -7.530095  -24.518475
4      145.224605  -71.999507   -7.262116  -18.435796
...           ...         ...         ...         ...
12299    1.236801    5.808582    4.292941   81.422512
12300    8.380188  185.656613  476.477772  105.532227
12301    2.406947   11.469905    9.417859  156.987851
12302    2.316110   11.070275    9.068691  151.132594
12303    9.634224   73.896856  124.330224  541.851205

[12304 rows x 4 columns]

In [7]:
pca_df.to_csv('../data/3.PCA/pca_kmean_df.csv', index=False)

PCA df 2

In [8]:
df_2 = pd.read_csv('../data/0.NaNs/df_0_oh.csv')

In [9]:
df_2.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue,New_Visitor,Other,Returning_Visitor
0,0.0,0.0,0.0,0.0,1.0,0.0,0.20,0.20,0.0,0.0,2,1.0,1,1,1,0,0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,2.0,64.0,0.00,0.10,0.0,0.0,2,2.0,2,1,2,0,0,0.0,0.0,1.0
2,0.0,-1.0,0.0,-1.0,1.0,-1.0,0.20,0.20,0.0,0.0,2,4.0,1,9,3,0,0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,2.0,0.0,0.05,0.14,0.0,0.0,2,3.0,2,2,4,0,0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,10.0,627.5,0.02,0.05,0.0,0.0,2,3.0,3,1,4,1,0,0.0,0.0,1.0

In [10]:
pca = PCA(4)
a = pca.fit_transform(df_2)
pca_df = pd.DataFrame(a, columns = ['pca_' + str(i+1) for i in range(pca.n_components_)])

In [11]:
pca_df

            pca_1      pca_2       pca_3       pca_4
0     -240.551387 -56.975228  -15.816864  -26.561218
1     -176.557577 -57.666398  -15.387091  -25.494447
2     -241.561336 -58.200287  -16.507343  -26.461879
3     -240.551769 -56.916708  -15.749618  -25.579735
4      386.887302 -63.793822  -11.651871  -16.873642
...           ...        ...         ...         ...
12299 -240.707217 -42.242261   18.964452   83.149086
12300 -241.799993  99.742267  504.028027  105.396458
12301 -240.712153 -45.304833   -2.457936  161.210642
12302 -240.708679 -45.644715   -2.867599  155.351986
12303 -241.299888  13.543285  146.512173  543.599360

[12304 rows x 4 columns]

In [13]:
pca_df.to_csv('../data/3.PCA/pca_0_df.csv', index=False)